
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
    margin: 0; 
    padding: 0;

}

body {
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

img{
    border-radius:10px;
    border: #40A2D8 solid 1,2px;
}

.titulo-destaque {
    color:#40A2D8
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.conteudo{
    width: 615px; 
    display: flex;
    flex-direction:column;
    gap:40px;
    margin-bottom:3em;
}

.titulo{
    font-size:36px;
    font-family: "Krona One", sans-serif;
}

.paragrafo{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}



.botao{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    gap:32px;  
}

.subtitulo{
    font-family:"krona One", sans-serif;
    font-weight:400;
    font-size:24px;
}

.botao__aparencia{
    display: flex;
    justify-content:center;
    gap:16px;
    width:378px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration:none;
    color: #F6F6F6;
    font-family: "Montserrat", sans-serif;  
    border: #40A2D8 2px solid;
    transition: 0.3s;
    
}  

.botao__aparencia:hover{
    transform:scale(1.06);
}

i{
    color:#40A2D8 ;
}

.rodape{
    background-color:#40A2D8;
    color: #F6F6F6;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight:400;
    
}

.cabecalho{
    margin:2% 0 0 15%;
}

.navegacao{
    display: flex;
    gap: 80px;
}

.conteudo_nav{
    color: #40A2D8;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
}