
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
    margin: 0; 
    padding: 0;

}

:root{
    --cor-primaria: #8D7B68;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria:#F1DEC9;

    --fonte-principal:"Krona One", sans-serif;
    --fonte-secundaria:"Montserrat", sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color:var(--cor-secundaria);
}

img{
    margin-left:8%;
}

.titulo-destaque {
    color:var(--cor-terciaria)
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.conteudo{
    width: 615px; 
    display: flex;
    flex-direction:column;
    gap:40px;
    margin-bottom:3em;
}

.titulo{
    font-size:36px;
    font-family: var(--fonte-principal);
}

.paragrafo{
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}



.botao{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    gap:32px;  
}

.subtitulo{
    font-family:var(--fonte-principal);
    font-weight:400;
    font-size:24px;
}

.botao__aparencia{
    display: flex;
    justify-content:center;
    gap:16px;
    width:378px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration:none;
    color:var(--cor-secundaria);
    font-family:var(--fonte-secundaria);  
    border: var(--cor-terciaria) 2px solid;
    transition: 0.3s;
    
}  

.botao__aparencia:hover{
    transform:scale(1.06);
}

i{
    color:var(--cor-terciaria) ;
}

.rodape{
    background-color:var(--cor-terciaria);
    color: var(--cor-secundaria);
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 17px;
    font-weight:400;
    
}

.cabecalho{
    margin:2% 0 0 15%;
}

.navegacao{
    display: flex;
    gap: 80px;
}

.conteudo_nav{
    color:var(--cor-terciaria);
    text-decoration: none;
    font-family:var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
}